html {
  font-size: 16px;
}

body {
  margin: 0;

  background-color: rgb(216,186,107);
}

#nope {
  margin: 0;

  font: 30vh/100vh 'Lily Script One', 'Comic Sans MS';
  color: rgb(127,26,26);
  text-transform: uppercase;
  text-align: center;
}
